<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "styled-form"}) do |f| %>
  <%= devise_error_messages! %>

  <label> Email    
    <%= f.email_field :email, :autofocus => true %>
  </label>

  <label> First Name
    <%= f.text_field :first_name %>
  </label>

  <label> Last Name
    <%= f.text_field :last_name %>
  </label>

  <label> Password
    <%= f.password_field :password %>
  </label>

  <label> Password Confirmation
    <%= f.password_field :password_confirmation %>
  </label>

  <div><%= f.submit "Sign up" %></div>
<% end %>
