<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "styled-form"}) do |f| %>
  <%= devise_error_messages! %>

  <label class="styled-label"> Email    
    <%= f.email_field :email, :class => "styled-input", :autofocus => true %>
  </label>

  <label class="styled-label"> First Name
    <%= f.text_field :first_name, :class => "styled-input" %>
  </label>

  <label class="styled-label"> Last Name
    <%= f.text_field :last_name, :class => "styled-input" %>
  </label>

  <label class="styled-label"> Password
    <%= f.password_field :password, :class => "styled-input" %>
  </label>

  <label class="styled-label"> Password Confirmation
    <%= f.password_field :password_confirmation, :class => "styled-input" %>
  </label>

  <div><%= f.submit "Sign up" %></div>
<% end %>
