<p id="CurrentUserID" data-id="<%= current_user.id %>">
  <span class="name"> My status </span>
  <span class="name2" style="margin-left: -4px;">
    <%= ClioInOutStub::REVERSE_TEAMMABLE[ current_user.teammable_type ] == nil ? "N/A" : ClioInOutStub::REVERSE_TEAMMABLE[ current_user.teammable_type ] %> </span>
  <span data-path="<%= status_user_path(current_user.id) %>" id="user-<%= current_user.id %>">

    <span class="status status-<%=current_user.status%>" data-userid="<%= current_user.id %>"> <%= current_user.status %> </span>

    <!-- changed structure so that the status of the current user will also be updated automatically-->

    <!-- added id and data-path to assist user.js.coffee so that the recurring of poll() can be ran -->

  </span>
  <%= link_to("Edit", edit_user_path(current_user), :class => "update-link")%>
</p>

<div id="users-container">
  <% @users_without_current.each do |user| %>
    <p id="user-<%= user.id %>" data-path="<%= status_user_path(user.id) %>">
      <%= name_with_status(user.full_name, user.status, user.id,
        ClioInOutStub::REVERSE_TEAMMABLE[ user.teammable_type ] == nil ? "N/A" : ClioInOutStub::REVERSE_TEAMMABLE[ user.teammable_type ]) %>
    </p>
  <% end %>
</div>

<script type="text/javascript">
  $("#users-container a.update-link").click(function(){
    var block = $(this).parent("p");
    $.get($(this).attr("href"), function(data){
      $("a.name", block).html(data["full_name"]);
      $("span.status", block).removeClass("status-in status-out").
        addClass("status-"+data["status"]).html(data["status"]);
    }, 'json');
    return false;
  });
</script>
